<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Hello!!!</title>
</head>
<body>

    <body>
        <header>
          <nav class="one">
            <ul>
              <li><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
              <li><a href="/login/">Work</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </header>
        <main>

            <div class="card">
              <center>
              <img class="d-block w-100" src="static/медведь.jpg" alt="Monsters" width="400" height="350">
              <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer
                 adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet
                 dolore magna aliguam erat volutpat</h5>
              </div>

              <img src="static/лиса.jpg" alt="Madagascar3" width="400" height="350">

              <div class="card-body">
                <h5 class="card-title">Ut wisis enim ad minim veniam, quis nostrud
                 exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex
                 ea commodo consequat.</h5>
              </div>
              <img src="static/tiger.jpg" alt="tiger" width="500" height="350">
              <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetuer
                 adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet
                 dolore magna aliguam erat volutpat Ut wisis enim ad minim veniam, quis nostrud
                 exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex
                 ea commodo consequat.</h5>
              </div>
              </center>
            </div>
            <!-- <figure>
                <img class="d-block w-100" src="static/rabstol_net_madagascar3_05.jpg" alt="Monsters" width="500" height="500">
                <img src="static/THUMB-Monsters.png" alt="Madagascar3" width="600" height="500">
                <figcaption> this is anythink text</figcaption>
            </figure> -->

            <body>
                <video src="static/Final_Fantasy.mp4" width="500" height="350" controls></video>
            </body>
        </main>

    </body>
     <footer>
         <p>Published <time datetime="2016-03-19">March 19, 2016</time></p>
     </footer>
    </body>

</html>
